/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    padding-top: 6%;
}

.navbar-style {
    box-shadow: 0 0.3px 5px #5a5959;
    font-family: 'Lato', sans-serif;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-toggler {
    background: #fff;
}

.nav-link {
    padding: .2rem 1rem;
}

.masuk {
    color: #f39c12 !important;
}

.masuk:hover {
    border: 1px solid #f39c12;
}

.nav-link.active,
.nav-link:focus {
    color: #fff;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
}

.navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

/* //////////////////////////////////// */

.image-carousel {
    width: 100%;
    height: 650px;
    filter: brightness(60%);
}

.carousel-caption {
    margin-bottom: 180px;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/* //////////////////////////////////// */

#hot-sale h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
    color: #f39c12;
}

#hot-sale .card {
    width: 265px;
    margin: 10px;
}

#hot-sale .card-img-top {
    width: auto;
    height: 200px;
}

#hot-sale .card-title {
    color: #f39c12;
}

/* ////////////////////////////////////// */

#menu {
    padding-top: 80px;
}

#menu .filter {
    margin-top: 20px;
}

#menu h3{
    font-family: 'Lobster', cursive;
    text-align: center;
    color: #f39c12;
}

#menu hr {
    margin: auto;
    width: 50%;
}

#menu .card {
    margin: 10px;
    width: 290px;
}

#menu .card-img-top {
    padding: 0;
    width: auto;
    height: 200px;
}

#menu .card-title {
    color: #f39c12;
}